@model TanCruzDentalInventorySystem.ViewModel.GroupViewModel
@{
	ViewBag.Title = "Create Group";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreateGroup", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<hr />
<div class="form-horizontal">
	@Html.ValidationSummary()
	<div class="form-group">
		@Html.LabelFor(model => model.GroupName, new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.GroupName)
@*			@Html.ValidationMessageFor(model => model.GroupName)*@
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.GroupDescription, new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.GroupDescription)
			@Html.ValidationMessageFor(model => model.GroupDescription)
		</div>
	</div>
	<div class="form-group col-md-10">
		<input type="submit" value="Save" class="btn btn-lg btn-outline-warning btn-block" />
	</div>
</div>
}
<div class="form-group col-md-10">
	@Html.ActionLink("Back to List", "GroupList")
</div>

