@model TanCruzDentalInventorySystem.ViewModel.GroupViewModel
@{
	ViewBag.Title = "Edit Group";
}

@using (Html.BeginForm("EditGroup", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<h2>Edit Group: <strong>@Html.DisplayFor(model => model.GroupName)</strong></h2>
	<hr />
	@Html.ValidationSummary()
	<div class="form-group">
		<div class="col-md-10">
			@Html.HiddenFor(m => m.GroupId)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.GroupName, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.GroupName, new { @class = "form-control" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.GroupDescription, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.GroupDescription, new { @class = "form-control" })
		</div>
	</div>

	<div class="form-group col-md-10">
		<input type="submit" value="Save" class="btn btn-lg btn-outline-warning btn-block" />
	</div>

	<div class="form-group col-md-10">
		@Html.ActionLink("Back to List", "GroupList")
	</div>

}

