@model TanCruzDentalInventorySystem.ViewModel.SelectGroupRolesViewModel
@{
	ViewBag.Title = "Group Role Permissions";
}

<h2>Permissions for Group: [@Html.DisplayFor(model => model.GroupName)]</h2>
<hr />

@using (Html.BeginForm("GroupRoles", "Account", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		<div class="form-group">
			<div class="col-md-10">
				@Html.HiddenFor(model => model.GroupId)
			</div>
		</div>
		<h4>Select Role Permissions</h4>
		<br />
		<hr />
		<table>
			<tr>
				<th>
					Select
				</th>
				<th>
					Group
				</th>
			</tr>
			<tr>
				<td></td>
				<td>Name</td>
				<td>Description</td>
			</tr>
			@for (int i = 0; i <= Model.Roles.Count - 1; i++)
			{
				<tr>
					@Html.HiddenFor(model => model.Roles[i].RoleId)
					<td class="js-export-checkbox">
						<div class="form-group">
							@Html.CheckBoxFor(model => model.Roles[i].IsSelected)
						</div>
					</td>
					<td>
						<div class="form-group">
							@Html.DisplayFor(model => model.Roles[i].RoleName)
						</div>
					</td>
					<td>
						<div class="form-group">
							@Html.DisplayFor(model => model.Roles[i].RoleDescription)
						</div>
					</td>
					<td>
				</tr>
			}
		</table>
		<br />
		<hr />
		<div class="form-group">
			<input type="submit" value="Save" class="signinBtn btn btn-lg btn-outline-warning btn-block" />
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "GroupList")
</div>

