@model TanCruzDentalInventorySystem.ViewModel.LoginCredentialsViewModel
@{
    ViewBag.Title = "";
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TanCruz Inventory System">
    <meta name="author" content="Francis Daray, Erwin Velasquez">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/modernizr")
    @Styles.Render("~/Content/css/login")

</head>
<body class="text-center">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
    {
        @*<form class="form-signin">*@
        <img class="mb-4" src="..\..\Content\img\CompanyLogo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group">
            @Html.LabelFor(login => login.Email, new { @class = "sr-only" })
            @Html.TextBoxFor(login => login.Email, new { @class = "form-control", @type = "email", @placeholder = "Username", @required = "required", @autofocus = "true" })

        </div>
        <div class="form-group">
            @Html.LabelFor(login => login.Password, new { @class = "sr-only" })
            @Html.TextBoxFor(login => login.Password, new { @class = "form-control", @type = "password", @required = "true", @placeholder = "Password" })

        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        @Html.ActionLink("Sign in", "Index", "Home", new { area = "" }, new { @type="submit", @class = "signinBtn btn btn-lg btn-outline-warning btn-block" })
        
        <p class="mt-5 mb-3 text-muted">&copy; 2019 Tan-Cruz Dental Inventory System</p>
    }
</body>
</html>